@model RVWBank1.Models.User;

@{
        Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
    <h1>Sign Up</h1>
    <div>
        <h5 id="valdiv" style="color:red">
            
        </h5>
        <form name="signupForm" asp-action="SignUp" method="post" onsubmit="return validateForm()" style="margin-left:35%; margin-right:35%">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">

                <input asp-for="FirstName" type="text" id="fname" class="form-control" placeholder="First Name" />
            </div>

            <div class="form-group">
     
                <input asp-for="LastName" type="text" id="lname" class="form-control" placeholder="Last Name" />
            </div>

            <div class="form-group">

                <input asp-for="Username" id="uname" class="form-control" placeholder="Username" />
            </div>

            <div class="form-group">

                <input asp-for="Password" type="password" id="pword" class="form-control" placeholder="Password" />
            </div>

            <div class="form-group">

                <input id="cpword" type="password" class="form-control" placeholder="Confirm Password" />
            </div>

            <div class="form-group">
   
                <input asp-for="Email" type="email" id="email" class="form-control" placeholder="email@email.com" />
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>


    <script>

        function validateForm() {
            var fname = document.forms["signupForm"]["fname"].value;
            var lname = document.forms["signupForm"]["lname"].value;
            var username = document.forms["signupForm"]["uname"].value;
            var password = document.forms["signupForm"]["pword"].value;
            var cpassword = document.forms["signupForm"]["cpword"].value;
            var email = document.forms["signupForm"]["email"].value;
            var valdiv = document.getElementById("valdiv");
            valdiv.innerHTML = "";
       

            if (fname == "" || lname == "" || username == "" || password == "" || cpassword == "" || email == "") {
                
                valdiv.append("Please fill all fields");
                return false;
            }

            if (password != cpassword) {
                valdiv.append("Passwords must be matched");
                return false;
            }

            if (password.length < 6)
            {
                valdiv.append("Passwords must be greater than 6");
                return false;
            }

            return true;
 
        }
    </script>

</body>
</html>
