@{
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>title</title>

</head>
<body>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" class="display-4">RVW Bank</h1>
            <p class="lead">The Bank That Makes You Money</p>
            <hr />
        </div>
        <div class="btn-group">
            <a class="btn btn-secondary" href="/User/Index">Login</a>
            <a class="btn btn-secondary" href="/User/Create">Sign Up</a>
        </div>
    </div>

</body>
</html>
