@model RVWBank1.Models.Account;
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Withdraw</title>
</head>
<body>
    <h1>Withdraw</h1>
    <h5 id="valdiv" style="color:red">
    </h5>
    <form name="signupForm" asp-action="SaveWithdraw" onsubmit="return validateForm()" method="post">
        <input type="hidden" asp-for="Id" />

        <div>
            <label>Account Type: </label>
            <input id="aC" name="accountType" type="radio" value="Checkings" checked/>
            <label for="aC">Checkings</label>
            <input id="aS" name="accountType" type="radio" value="Savings" />
            <label for="aS">Savings</label>
        </div>
        <div>
            <label name="amount">Amount: </label>
            <input id="wamount" name="amount" />
        </div>
        <button type="submit" class="btn btn-outline-dark">Confirm</button>
    </form>

    <script>

        function validateForm() {
            var amount = document.forms["signupForm"]["wamount"].value;
            var valdiv = document.getElementById("valdiv");
            valdiv.innerHTML = "";

            if (amount == "" || amount <= 0) {

                valdiv.append("Withdraw Amount Must Be Greater Than 0");
                return false;
            }
            return true;
        }
    </script>

</body>
</html>